body, h1, h2, h3, h4, p, ul{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}


body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: navy;
}

.bg{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: url(../images/milky-way-starry-sky-night-sky-star-956981.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-clip-path: polygon(100% 100%, 64% 100%, 63% 45%, 50% 65%, 31% 45%, 30% 100%, 0 100%, 0 0);
    clip-path: polygon(100% 100%, 64% 100%, 63% 45%, 50% 65%, 31% 45%, 30% 100%, 0 100%, 0 0);
}

header{
    width: 100vw;
}

.head-wrap{
     width: 70%;
     margin: 0 auto;
     height: 80px;
     display: flex;
     justify-content: space-between;
     align-items: flex-end;
     padding: 0 20px;
}

nav{
    text-align: center;
}

nav ul{
    display: flex;
}

nav li{
    padding: 0 10px;
    transition: all, .26s

}

nav li:nth-child(2){
    border-left: 1px white solid;
    border-right: 1px white solid;
    padding: 0 10px;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.line{
    height: 3px;
    width: 100%;
    background: linear-gradient(90deg, white, navy, black, navy, white);
    width: 73%;
    margin: auto;
}

.name{
    font-size: 50px;
    padding-top: 40px;
    font-family: 'Staatliches', cursive;
    line-height: .8;
    color: white;
}

/* ---------------------Container------------------------- */

.container{
    background-color: rgba(255, 255, 255, .9);
    border-radius: 20px;
    border: 7px white solid;
    position: relative;
    padding: 20px;
    min-width: 320px;
    max-width: 70%;
    margin: 2em auto;
    font-size: 25px;
    color: black;
}

#about{
    display: none;
    opacity: 0;
}

.container h2{
    text-align: center;
}

.padding-bottom{
    padding-bottom: 400px;
}
/* -------------------------Contact Form------------------------------ */

.input{
    width: 90%;
    padding: 5px 0;
    font-size: 20px;
}

textarea{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 90.25%;
    font-size: 20px;
}

#contactForm{
    display: none;
}

#message{
    padding: 5px;
}
/* -------------------------Media Queries----------------------------- */

@media (max-width: 1000px) {
    .name{
        font-size: 39px;
    }
}

@media (max-width: 640px) {
    .head-wrap{
        width: 300px;
        display: block;
        margin: 0 auto;
        height: fit-content;
        overflow: hidden;
    }

    .line{
        width: 300px;
        margin: auto;
    }

    .name{
        text-align: center;
        margin-bottom: 1em;
        font-size: 50px;
        color: white;
    }

    nav a{
        color: white;
    }
}